body {
  background: url("../assets/Great_Hall.webp") center 100vh;
  color: white;
}

/* header */

/* header */

/* jumbotron */
.sorting-hat {
  width: 320px;
  height: 320px;
}
/* jumbotron */

/* card */
.hidden {
  display: none;
}
/* card */

/* footer */
.crest {
  height: 80px;
  width: 80px;
  padding: 8px;
  border: 2px solid;
  border-radius: 8px;
}
.gryffindor {
  border-color: red;
}
.slytherin {
  border-color: green;
}
.ravenclaw {
  border-color: blue;
}
.hufflepuff {
  border-color: yellow;
}
/* footer */
